.wrapper-class {
  background-color: black;
  /* padding: 1rem; */
  /* border: 1px solid #ccc */
}
.editor-class {
  background-color: black;
  color: white;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
  background-color: black !important;
  color: black;
}

.toolbar-class .rdw-option-wrapper {
  background-color: black !important;
  border: 1px solid black;
}

.toolbar-class .rdw-option-wrapper img {
  filter: invert(1);
}
